<footer>
    <p>Grupo FSOCIETY - Todos los derechos reservados &copy; 2024</p>
    <p>Desarrollado por: Alexis Duarte Y17825</p>
    <p>Repositorio: <a href="https://gitlab.com/alexduart3/02-Y17825-motor-plantillas" target="_blank" style="color: white">Link del Repositorio</a></p>
</footer>