<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 95vh; margin: 0">
        <h1>Error 404</h1>
        <p>No existe una página para ese integrante</p>
        <a href="/">
            <button style="background-color: #2a639e; border-radius: 5px; padding: 10px; text-decoration: none; color: white; cursor: pointer">
                Volver al inicio
            </button>
        </a>
    </div>
</body>
</html>
